.category-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: black;  // Change background color to black
    color: white;  // Change text color to white
    min-height: 100vh;  // Ensure the container takes up the full viewport height
  }
  
  .category-item {
    padding: 10px;
    background-color: #333;  // Darker background for category items
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }
  .delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    right: -50px;
    cursor: pointer;
  }
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);  
  }
  
  .modal-content {
    background-color: #333;  
    color: black; 
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;  
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;  
  }
  
  .modal-actions button:first-child {
    background-color: #007bff;
  }
  
  .modal-actions button:last-child {
    background-color: #333;  
  }
  
  .modal-actions button:first-child:hover {
    background-color: #0056b3;
  }
  
  .modal-actions button:last-child:hover {
    background-color: #333; 
  }
  