<div (onClose)="gohome()">
    <div class="p-4">
        <form>
            <div class="flex flex-col items-center gap-4 w-full">
                <ng-container *ngFor="let notification of notifications">
                    <ng-container *ngIf="!notification.seen">
                        <div class="w-full flex items-center bg-gray-800 p-4 rounded-lg shadow-lg mb-2">
                           
                            <img [src]="users[notification.userIdFrom].photoURL" alt="Profile Picture" class="w-16 h-16 rounded-full object-cover" (click)="gotouser(users[notification.userIdFrom].uid)">
                            <div class="ml-4 flex-col" (click)="gotopost(notification.target)">
                                <p class="text-white text-lg font-semibold">{{ users[notification.userIdFrom].username + " " +  notification.message}}</p>
                                <p class="text-gray-400 text-sm">{{ notification.createdAt.toDate() | dateAgo }}</p>
                            </div>
                            <button  (click)="deleteNotification(notification.id)"  style="margin-left: 50px;" class="text-red-600" >X</button> 
                        </div>
                    </ng-container>
                </ng-container>
                <!-- Các thông báo đã đọc -->
                <ng-container *ngFor="let notification of notifications">
                    <ng-container *ngIf="notification.seen">
                        <div class="w-full flex items-center bg-black p-4 rounded-lg shadow-lg mb-2">
                          
                            <img (click)="gotouser(users[notification.userIdFrom].uid)" [src]="users[notification.userIdFrom].photoURL" alt="Profile Picture" class="w-16 h-16 rounded-full object-cover">
                            <div class="ml-4 flex-col" (click)="gotopost(notification.target)">
                                <p class="text-white text-lg font-semibold">{{ users[notification.userIdFrom].username + " " +  notification.message}}</p>
                           
                            </div>
                            <p class="text-gray-400 text-sm ml-4">{{ notification.createdAt.toDate() | dateAgo }}</p>
                            <button  (click)="deleteNotification(notification.id)" style="margin-left: 50px;" class=" ml-4 text-red-600" >X</button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </form>
    </div>
</div>
